.footer{
	height: 281px;
	bottom: 0;

}

.footer img{ margin: 0 auto; padding: 0; height: 10px; width: 1182px;}

.footer-content{
	margin-top: -5px;
	background-color: white;
	padding-top: 27px;
}

.footer-links{
	padding-left: 19px;
}

.footer-links > div{
	width: 14%;
	height: 155px;
	float: left;
	margin: 0 auto;
	padding-right: 30px;
}

.footer-title{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #e92d2d;
	margin-bottom: 15px;
}

.footer-subtitle{
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #404040;
}

.footer-description{
	font-size: 10px;
	color: gray;
}

.footer-description ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-description ul li{ margin: 7px 0; }
.footer-separator img{ height: 30px; }

.footer-logos{
	height: 55px;
	margin: 15px 41%;
}

.footer-logos img {
	width: auto;
	margin: 0 5px;
}

.footer-logos img:nth-child(1){ height: 18px; }
.footer-logos img:nth-child(2){ height: 16px; }
.footer-logos img:nth-child(3){ height: 16px; }
.footer-logos img:nth-child(4){ height: 22px; }
